<%# sign up page for new user, using Devise for authentication  %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  <span>
        <%# additional fields for the parameters for the details of an user %>
    <br>
    <%= f.fields_for :detail, resource.build_detail do |detail_form| %>
        <div class="field">
          <%= detail_form.label :first_name %><br>
          <%= detail_form.text_field :first_name, autofocus: true %>
        </div>
        <div class="field">
          <%= detail_form.label :last_name %><br>
          <%= detail_form.text_field :last_name %>
        </div>
        <div class="field">
          <%= detail_form.label :street_number %><br />
          <%= detail_form.number_field :street_number, min: 1 %>
        </div>
        <div class="field">
          <%= detail_form.label :street_name %><br>
          <%= detail_form.text_field :street_name %>
        </div> 
        <div class="field">
          <%= detail_form.label :suburb %><br>
          <%= detail_form.text_field :suburb %>
        </div>
        <div class="field">
          <%= detail_form.label :postcode %><br>
          <%= detail_form.number_field :postcode,  min:1, max: 9999 %>
        </div>
        <br>
        <div class="field">
          <%= detail_form.select :state, ["NSW","VIC","ACT","QLD","NT","SA","WA"] %>
        </div>
        <div class="field">
          <%= detail_form.label :phone_number %> <br>
          <%= detail_form.number_field :phone_number ,min: 1 %>
        </div>
      <% end %>
      <br>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <br><br><br>


