<h1>Your Orders Overview </h1>

<%# this table displays all the items that have been put up for sale by the signed in user %>
<h3>Bikes for sale</h3>

<table class="table">
    <tr>
      <th >Bike</th>
      <th >Price</th>
      <th></th>
    </tr>
    <% @items.each do |item| %>
        <%if item.user.id == current_user.id && item.sold == 0  %>
            <tr>
                <td><%= item.name %></td>
                <td>$<%= item.price %></td>
                <td> <%= link_to "edit", item, class: "btn btn-primary btn-sm" %>
            </tr>
        <% end %>
    <% end %>
</table>
<br>

<%# this table displays all the items that have been sold the signed in user %>
<h3>Bikes sold</h3>

<table class="table">
    <tr>
      <th >Bike</th>
      <th >Buyer</th>
      <th >Price</th>
    </tr>
    <% @bookings.each do |booking| %>
        <%if booking.item.user.id == current_user.id  %>
            <tr>
                <td><%= booking.item.name %></td>
                <td><%= booking.user.username %></td>
                <td>$<%= booking.item.price%></td>
            </tr>
        <% end %>
    <% end %>
</table>
<br>

<%# this table displays all the items that have been bought by the signed in user %>
<h3>Bikes Bought</h3>

<table class="table">
    <tr>
      <th >Bike</th>
      <th >Seller</th>
      <th >Price</th>
    </tr>
    <% @bookings.each do |booking| %>
        <%if booking.user.id == current_user.id %>
            <tr>
                <td><%= booking.item.name %></td>
                <td><%= booking.item.user.username %></td>
                <td>$<%= booking.item.price%></td>
            </tr>
        <% end %>
    <% end %>
</table>
<br><br><br>


