<h1>Index bookings </h1>

<h3>Bought Items</h3>

<table class="table">
    <tr>
      <th >Bike</th>
      <th >Seller</th>
      <th >Price</th>
    </tr>
    <% @bookings.each do |booking| %>
        <%if booking.user.id == current_user.id %>
            <tr>
                <td><%= booking.item.name %></td>
                <td><%= booking.item.user.username %></td>
                <td>$<%= booking.item.price%></td>
            </tr>
        <% end %>
    <% end %>
</table>
<br><br><br>

<h3>Sold Items</h3>

<table class="table">
    <tr>
      <th >Bike</th>
      <th >Buyer</th>
      <th >Price</th>
    </tr>
    <% @bookings.each do |booking| %>
        <%if booking.item.user.id == current_user.id  %>
            <tr>
                <td><%= booking.item.name %></td>
                <td><%= booking.user.username %></td>
                <td>$<%= booking.item.price%></td>
            </tr>
        <% end %>
    <% end %>
</table>
