<h1>New booking page </h1>

<p>    
    Name user: <%= current_user.username %><br>
    First name: <%= current_user.detail.first_name %><br>
    Last name: <%= current_user.detail.last_name %><br>
    Street number: <%= current_user.detail.street_number %><br>
    Street name: <%= current_user.detail.street_name %><br>
    Suburb: <%= current_user.detail.suburb %><br>
    Postcode: <%= current_user.detail.postcode %><br>
    State: <%= current_user.detail.state %><br>
    Phone number: <%= current_user.detail.phone_number %><br>
    <br>
    Item name: <%= @current_item.name %><br>
    Item description: <%= @current_item.description %><br>
    Item price: <%= @current_item.price %><br>
<p>




<%= button_to 'Confirm', bookings_path, method: :post, params: {confirmed_item: @current_item.id} %>



<%= link_to 'Back', root_path %>
