<h1>Form</h1>

<%= form_with model: item do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br><br>
    <%= form.label :description %>
    <%= form.text_area :description, size: "60x10" %>
    <br><br>
    <%= form.label :price %>
    <%= form.number_field :price%>
    <br><br>
    <%= form.select :new, [["New",1],["second hand", 0]] %>
 
    <br><br>
    <%= form.label :picture %>
    <%= form.file_field :picture, accept:'image/png,image/jpg,image/jpeg' %>
    <br><br>
    <%= form.hidden_field :sold, value: 0 %>
    <br><br>
    <%= form.submit%>
<% end %>
<br><br>
<%= link_to 'Back', :back %>



    <% if false %>
    <% for option in news %>
        <div> 
            <%= form.radio_button :new, option %>
            <%= form.label "new#{option}".to_sym, option%>
        <div>
    <% end %> 
    <% end %> 