
<h1>Index Items Page </h1>
<div class="row">
    <% @items.each do |item| %>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-background">
                    <% if item.picture.attached? %>
                    <%= image_tag item.picture, class:"card-img-top"%>
                    <% end %>
                    <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <p class="card-text item-description"><%= item.description.first(100)+" ..."%></p>
                        <% if item[:new] == 1 %>
                        <p class="card-text item-description">Brand new bike</p>
                        <% else %>
                        <p class="card-text item-description">Second hand bike</p>
                        <% end %>
                        <p class="card-text">$<%= item.price %><%= link_to 'Show', item , class: "btn btn-primary btn-right" %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
