<h1> Item show page</h1>
<div class="show_card">
    <br><br>
    <%= image_tag @item.picture if @item.picture.attached?%>
     <ul>
        <li> Name: <%= @item[:name] %> </li>
        <li> Description: <%= @item[:description] %> <li>
        <li> Price: <%= @item[:price] %> <li>
        <li> new: <%= @item[:new] %> <li>
        <li> sold: <%= @item[:sold] %> <li>
    </ul>
    <br> 
</div>
<%= link_to 'Back', :back %>
<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>