<h1> Item show page</h1>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4"><%= @item.name %></h1>
            <p class="lead"> <%= @item.description %></p><br>
            <hr class="my-4">
            <p class="lead">
                <br><br><br>
                <% if @item.sold ==0 %>
                    <% if user_signed_in?%>
                        <% if policy(@item).update? %>
                        <%= link_to 'Edit', edit_item_path(@item), class:"btn btn-primary btn-lg" %>
                        <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-lg" %>
                        <% else %>
                        <%= button_to 'Order', new_booking_path, method: :get, params: {current_item: @item.id}, class:"btn btn-primary btn-lg" %>
                        <% end %>
                    <% else %>
                        <%= button_to 'Order', new_booking_path, method: :get, params: {current_item: @item.id}, class:"btn btn-primary btn-lg" %>
                    <% end %>
                <% end %>
            </p>
        </div>
        <div class="col-md-6">
            <% if @item.picture.attached?%>
                <%= image_tag @item.picture , class:"item-show-image"%>
            <% end %>
        </div>
    </div>
</div>
<%= link_to 'Back', :back, class:"btn btn-primary btn-lg" %>
<br><br>




