<h1> Item show page</h1>

<ul>
    <% if false %>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <ul>
        <li> Name: <%= @item[:name] %> </li>
        <li> Description: <%= @item[:description] %> <li>
        <li> Price: <%= @item[:price] %> <li>
        <li> new: <%= @item[:new] %> <li>
        <li> sold: <%= @item[:sold] %> <li>
    </ul>
    <br> 

</ul>